In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Data/Product Positioning.csv')
data.head()

,Product ID,Product Position,Price,Competitor's Price,Promotion,Foot Traffic,Consumer Demographics,Product Category,Seasonal,Sales Volume
0,185102,Aisle,17.07,16.16,No,Medium,Families,Clothing,No,2823
1,188771,Aisle,17.41,13.13,No,Low,Seniors,Clothing,No,654
2,180176,End-cap,43.16,38.37,Yes,Medium,Young adults,Electronics,Yes,2220
3,112917,Aisle,42.26,38.98,Yes,Low,Families,Clothing,Yes,1568
4,192936,End-cap,47.94,45.59,No,Medium,College students,Clothing,Yes,2942

In [3]:
data.shape

(1000, 10)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Product ID             1000 non-null   int64
 1   Product Position       1000 non-null   object
 2   Price                  1000 non-null   float64
 3   Competitor's Price     1000 non-null   float64
 4   Promotion              1000 non-null   object
 5   Foot Traffic           1000 non-null   object
 6   Consumer Demographics  1000 non-null   object
 7   Product Category       1000 non-null   object
 8   Seasonal               1000 non-null   object
 9   Sales Volume           1000 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB